body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

.weather_icon {
    height: 5.0rem;
    width: 5.0rem;
}

.wd_header {
    background-color: #8b1d1da4;
    color: #000000;
    text-align: center;
}

.search_for {
    font-size: 2.1rem;
    margin-left: 1.5rem;
}

.city_search {
    background-color: #41424217;
    height: 50.0rem;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    border: 1px solid #000000;
    margin-left: 2.0rem;
}

#searched_city {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1.5rem;
    height: 4.0rem;
    margin: 3.5rem 0 0 2.0rem;
}

.search_button {
    background-color: #46b8e68a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.0rem;
    font-size: 100%;
    margin-top: 3.5rem;
    margin-left: 0;
}

.weather_today {
    border-bottom: 1px solid #48494950;
    border-left: 1px solid #48494950;
    border-top: 1px solid #48494950;
    height: 23.0rem;
    margin-bottom: 2.0rem;
    margin-top: 2.0rem;
    padding: 2.0rem;
}

#city_selected, #five_day_forecast {
    font-size: 2.8rem;
    margin-bottom: 2.0rem;
    display: flex;
    align-items: center;
}

.selected_daily {
    font-size: 1.5rem;
}

#forecast_5day {
    height: 23.0rem;
}

.forecast_box {
    background-color: #46b8e68a;
    border-radius: 1.0rem;
    height: 14.2rem;
}

.forecast_days, .forecast_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.forecast_temps, .forecast_humids {
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

@media (max-width: 771.98px) {
    .search_button {
        display: none;
    }
}